<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Расписание поездов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/simplex/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>

<body class="bg-dark text-light">
    <div class="jumbotron jumbotron-fluid"
         style="background: url('/train3.jpg') no-repeat center center;
                    background-size: cover;
                    height: 350px;">
        <div th:replace="~{fragments/navbar}"></div>

        <div class="container">

            <div class="card shadow mt-5" style="background-color: rgba(0, 0, 0, 0.5); border: none;">
                <div class="card-body p-4">
                    <h2 class="card-title mb-4 text-light">Укажите маршрут и дату поездки, чтобы узнать расписание</h2>
                    <form th:action="@{/}" method="get" class="mb-4">
                        <div class="input-group">
                            <input list="fromCities"
                                   class="form-control"
                                   name="fromCity"
                                   th:value="${param.fromCity}"
                                   placeholder="Город отправления"
                                   autocomplete="off">
                            <datalist id="fromCities">
                                <option th:each="city : ${allFromCities}" th:value="${city}"></option>
                            </datalist>

                            <span class="input-group-text bg-transparent border-0 px-2">
                                    <i class="bi bi-arrow-right text-white"></i>
                            </span>

                            <input list="toCities"
                                   class="form-control"
                                   name="toCity"
                                   th:value="${param.toCity}"
                                   placeholder="Город прибытия"
                                   autocomplete="off">
                            <datalist id="toCities">
                                <option th:each="city : ${allToCities}" th:value="${city}"></option>
                            </datalist>

                            <span class="input-group-text bg-transparent text-white border-0">Дата:</span>

                            <input type="date" class="form-control" name="departureDate" th:value="${param.departureDate}">

                            <button type="submit" class="btn btn-outline-light">
                                <i class="bi bi-funnel"></i> Применить
                            </button>
                            <a th:href="@{/}" class="btn btn-outline-light">
                                <i class="bi bi-x-circle"></i> Сбросить
                            </a>
                        </div>
                    </form>
                    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
                        <span th:text="${error}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="my-3 mt-4" sec:authorize="hasRole('ADMIN')">
            <form th:action="@{/add-form}" method="get">
                <button type="submit" class="btn btn-success"><i class="bi bi-plus"></i></button>
            </form>
        </div>

        <!-- Форма сортировки -->
        <form th:action="@{/}" method="get" class="mt-3 mb-4 w-25">
            <!-- Передаем текущие параметры фильтрации -->
            <input type="hidden" name="fromCity" th:value="${param.fromCity}" />
            <input type="hidden" name="toCity" th:value="${param.toCity}" />
            <input type="hidden" name="departureDate" th:value="${param.departureDate}" />

            <div class="input-group">
                <label class="input-group-text" for="sortBy">Сортировать по:</label>
                <select class="form-select" id="sortBy" name="sortBy"
                        onchange="this.form.submit()">
                    <option value="">-</option>
                    <option th:selected="${param.sortBy == 'number'}" value="number">Номеру поезда</option>
                    <option th:selected="${param.sortBy == 'fromCity'}" value="fromCity">Городу отправления</option>
                    <option th:selected="${param.sortBy == 'departureStation'}" value="departureStation">Вокзалу отправления</option>
                    <option th:selected="${param.sortBy == 'toCity'}" value="toCity">Городу прибытия</option>
                    <option th:selected="${param.sortBy == 'arrivalStation'}" value="arrivalStation">Вокзалу прибытия</option>
                    <option th:selected="${param.sortBy == 'departureDate'}" value="departureDate">Дата отправления</option>
                    <option th:selected="${param.sortBy == 'arrivalDate'}" value="arrivalDate">Дата прибытия</option>
                    <option th:selected="${param.sortBy == 'departureTime'}" value="departureTime">Время отправления</option>
                    <option th:selected="${param.sortBy == 'arrivalTime'}" value="arrivalTime">Время прибытия</option>
                </select>

                <!-- Кнопка "Сбросить" справа -->
                <a th:href="@{/(fromCity=${param.fromCity}, toCity=${param.toCity}, departureDate=${param.departureDate})}"
                   class="btn btn-outline-light ms-2">Сбросить</a>
            </div>
        </form>

    <div class="card shadow mt-4 mb-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Номер поезда</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Отправление</th>
                <th>Прибытие</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${trains.empty}">
                    <td colspan="9" class="text-center text-muted">
                        <i class="bi bi-exclamation-circle"></i>
                        <h5 class="mt-2">Расписание поездов отсутствует</h5>
                        <p>Пожалуйста, попробуйте изменить параметры поиска</p>
                    </td>
                </tr>
                <tr th:each="train : ${trains}">
                    <td th:text="${train.number}"></td>
                    <td>
                        <div th:text="${train.fromCity}"></div>
                        <div class="text-muted small" th:text="${train.departureStation} ?: 'Главный вокзал'"></div>
                    </td>
                    <td>
                        <div th:text="${train.toCity}"></div>
                        <div class="text-muted small" th:text="${train.arrivalStation} ?: 'Главный вокзал'"></div>
                    </td>

                    <td>
                        <div th:text="${train.departureTime}"></div>
                        <div class="text-muted small" th:text="${train.departureDate} ?: 'Главный вокзал'"></div>
                    </td>
                    <td>
                        <div th:text="${train.arrivalTime}"></div>
                        <div class="text-muted small" th:text="${train.arrivalDate} ?: 'Главный вокзал'"></div>
                    </td>

                    <td>
                        <div sec:authorize="hasRole('ADMIN')">
                            <form th:action="@{/update-form/{id}(id=${train.id})}" method="get" style="display: inline;">
                                <button type="submit" class="btn btn-outline-dark"><i class="bi bi-pencil"></i></button>
                            </form>

                            <form th:action="@{/delete-train/{id}(id=${train.id})}" method="post" style="display: inline;">
                                <input type="hidden" name="fromCity" th:value="${param.fromCity}">
                                <input type="hidden" name="toCity" th:value="${param.toCity}">
                                <input type="hidden" name="departureDate" th:value="${param.departureDate}">
                                <input type="hidden" name="sortBy" th:value="${param.sortBy}">
                                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-x"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>