<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Расписание поездов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class=".bg-secondary.bg-gradient"></div>
    <div th:replace="~{fragments/navbar}"></div>

    <h2>Поиск</h2>
    <form th:action="@{/}" method="get">
        <div>
            <label>Откуда:</label>
            <input type="text" name="fromCity" th:value="${param.fromCity}">
            <label>Куда:</label>
            <input type="text" name="toCity" th:value="${param.toCity}">
            <label>Когда:</label>
            <input type="date" name="departureDate" th:value="${param.departureDate}">
            <button type="submit">Применить фильтр</button>
            <a th:href="@{/}">Сбросить фильтры</a>
        </div>

    </form>


    <div sec:authorize="hasRole('ADMIN')">
        <a href="/add-form">Добавить новый поезд</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=number' + ${fromCity} + ${toCity} + ${departureDate}}">Номер поезда</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=fromCity' + ${fromCity} + ${toCity} + ${departureDate}}">Откуда</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=toCity' + ${fromCity} + ${toCity} + ${departureDate}}">Куда</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=departureDate' + ${fromCity} + ${toCity} + ${departureDate}}">Дата отправления</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=arrivalDate' + ${fromCity} + ${toCity} + ${departureDate}}">Дата прибытия</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=departureTime' + ${fromCity} + ${toCity} + ${departureDate}}">Время отправления</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=arrivalTime' + ${fromCity} + ${toCity} + ${departureDate}}">Время прибытия</a>
            </th>
            <th>
                <a th:with="fromCity=${param.fromCity != null ? '&fromCity=' + param.fromCity[0] : ''},
    toCity=${param.toCity != null ? '&toCity=' + param.toCity[0] : ''},
    departureDate=${param.departureDate != null ? '&departureDate=' + param.departureDate[0] : ''}"
                   th:href="@{'/?sortBy=platform' + ${fromCity} + ${toCity} + ${departureDate}}">Платформа</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="train : ${trains}">
            <td th:text="${train.number}"></td>
            <td th:text="${train.fromCity}"></td>
            <td th:text="${train.toCity}"></td>
            <td th:text="${train.departureDate}"></td>
            <td th:text="${train.arrivalDate}"></td>
            <td th:text="${train.departureTime}"></td>
            <td th:text="${train.arrivalTime}"></td>
            <td th:text="${train.platform}"></td>
            <td>
                <div sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/update-form/{id}(id=${train.id})}">Изменить</a>

                    <form th:action="@{/delete-train/{id}(id=${train.id})}" method="post" style="display: inline;">
                        <button type="submit">Удалить</button>
                    </form>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>